{% extends "ui/base.html" %}
{% block title %}Statistiken{% endblock %}
{% block header %}Statistiken{% endblock %}

{% block content %}
<div class="overflow-x-auto">
  <table class="min-w-full text-sm border">
    <thead class="bg-gray-100 sticky top-0">
      <tr>
        <th class="px-2 py-1 border">Runde</th>
        <th class="px-2 py-1 border">Spieler</th>
        <th class="px-2 py-1 border">Würfe</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="px-2 py-1 border">1</td>
        <td class="px-2 py-1 border">JUSTIN0501</td>
        <td class="px-2 py-1 border">T12, 5, 1</td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}